type file
id MagiQL.Framework.Interfaces
authors Jon Menzies Smith
description
    MagiQL :: Framework Interfaces
files 
    ../../build/MagiQL.Framework.Interfaces/ ==> lib/net451
    !../../build/**/*.xml
projectUrl
    https://magiql.github.io
licenseUrl
    https://github.com/salesforce/MagiQL/blob/master/LICENSE.txt
copyright
    Copyright (c) 2016, salesforce.com, inc. All rights reserved.
tags
    MagiQL
include-pdbs false
